<!doctype html>
<html lang="en">
	<head>
		<title>CHIEN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	
	</head>
	
	<body>
		
		<div style="text-align:center;"><h1><br>luce sicut stellae</h1></div>

		<p style="text-align:center;"><br>Do not go gentle into that good night,<br>
			Old age should burn and rave at close of day;
			Rage, rage against the dying of the light.<br>--by Dylon Thomas</p>

		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators" >
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="images/pic13.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/pic14.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/pic8.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="index.html">movie</a></li>
						<li class="active"><a href="generic.html">photography</a></li>
						<li><a href="#">reference</a></li>
					</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- photography1 -->
							<article class="post featured">
								<header class="major">
									<span class="date">October 10, 2022</span>
									<h2><a href="#">2022 ChiaYi<br />
									故宮南院國慶煙火</a></h2>
									<p></p>
								</header>
								
								<!-- carousel picture -->
								<div class="slider_container">
									<div>
										<img src="images/pic1.jpg" alt="pure css3 slider"/>
										<span class="info"> ლ(∘◕‵ƹ′◕ლ)</span>
									</div>
									<div>
										<img src="images/pic2.jpg" alt="pure css3 slider" />
										<span class="info"> (/●◔∀◐●)/</span>
									</div>
									<div>
										<img src="images/pic3.jpg" alt="pure css3 slider" />
										<span class="info">ヽ(✿ﾟ▽ﾟ)ノ</span>
									</div>
									<div>
										<img src="images/pic4.jpg" alt="pure css3 slider" />
										<span class="info">	ก็ʕ•͡ᴥ•ʔ ก้</span>
									</div>
									<div>
										<img src="images/pic5.jpg" alt="pure css3 slider" />
										<span class="info">	(ΦωΦ)</span>
									</div>
								</div>
								<br><ul class="actions special">
									<li><a href="#" class="button large">Full Story</a></li>
								</ul>

							</article>

						<!-- photography2 -->
						<article class="post featured">
							<header class="major">
								<span class="date">Auguest 16, 2022</span>
								<h2><a href="#">2022 Taichung<br />
								農場好好玩</a></h2>
								<p></p>
							</header>
							
							<!-- carousel picture -->
							<div class="slider_container">
								<div>
									<img src="images/pic6.jpg" alt="pure css3 slider"/>
									<span class="info">	貓咪在樹上下不來(๐•̆ ·̭ •̆๐)</span>
								</div>
								<div>
									<img src="images/pic7.jpg" alt="pure css3 slider" />
									<span class="info">	吐舌頭羊｡:.ﾟヽ(*´∀`)ﾉﾟ.:｡</span>
								</div>
								<div>
									<img src="images/pic12.jpg" alt="pure css3 slider" />
									<span class="info">	( ｰ̀дｰ́ )</span>
								</div>
								<div>
									<img src="images/pic19.jpg" alt="pure css3 slider" />
									<span class="info">(`へ´≠)</span>
								</div>
								<div>
									<img src="images/pic20.jpg" alt="pure css3 slider" />
									<span class="info">٩(๑ᵒ̴̶̷᷄ᗨᵒ̴̶̷᷅)وBye~Bye~</span>
								</div>
							</div>
							<br><ul class="actions special">
								<li><a href="#" class="button large">Full Story</a></li>
							</ul>
						</article>

							</section>

						<!-- Footer -->
						<footer>
								<div class="pagination">
									<a href="#" class="previous">Prev</a>
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<a href="#" class="page">3</a>
									<a href="#" class="page">4</a>
									<a href="#" class="page">5</a>
									<a href="#" class="page">6</a>
									<a href="#" class="page">7</a>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="page">11</a>
									<a href="#" class="page">12</a>
									<a href="#" class="page">13</a>
									<a href="#" class="page">14</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="GET" action="/ccu408310044">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="UserName"/>
									</div>
									<div class="field">
										<label for="email">Feedback</label>
										<input type="text" name="UserMail"/>
									</div>
									
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
             

						</section>
						<section class="split contact">
							<section class="alt">
								<h3>About me</h3>
								<p>一名普通的大學生<br />
									攝影是興趣、電影是生活</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">0912-345-678</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">ccu408310044@alum.ccu.edu.tw</a></p>
							</section>
							<section>
								<h3>Social</h3>
									<p><a href="http://www.facebook.com/chien0207">Facebook/</a></p>
									<br><p><a href="https://github.com/chien0207/chien0207.github.io">/GitHub</a></p>
							</section>
						</section>
					</footer>
					
					<div>
						<p style="text-align:center;">網頁程式設計期末
						408310044 </p>
					</div> 

			</div>

	</body>
</html>
  
   

